body, html {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #f5f5f5;
}

.chat-sidebar {
  position: fixed;
    top: 10%; /* Adjusted to start from the top */
    bottom: 0; /* Adjusted to extend to the bottom */
    right: -420px; /* Fully hide sidebar */
    width: 400px;
    background-color: #fff;
    color: #333;
    border-left: 3px solid #007BFF;
    padding: 20px;
    transition: right 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.chat-messages {
  overflow-y: auto;
  padding: 10px;
  background: #e9ecef;
  height: calc(100% - 120px); /* Adjusts the height dynamically */
}

/* Clearfix for floating elements */
.chat-messages::after {
  content: "";
  display: table;
  clear: both;
}

.message {
  max-width: 80%; /* Limit the maximum width */
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: inline-block;
  overflow-wrap: break-word; /* Ensures text wraps to next line */
}

.user-message {
  background-color: #007BFF;
  color: #fff;
  float: right;
  clear: both;
  margin-right: 5px; /* Right margin for spacing */
}

.bot-message {
  background-color: #606060;
  color: #ffffff;
  float: left;
  clear: both;
  margin-left: 5px; /* Left margin for spacing */
}


.chat-footer {
  display: flex;
  margin-top: 10px;
}

input, button {
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input {
  flex: 1;
  margin-right: 10px;
}

.icon-button {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.exit-btn {
  background-image: url('../assets/img/exit-icon.svg');
}

.send-btn {
  background-image: url('../assets/img/send-icon.svg');
}

.send-btn:hover {
  background-image: url('../assets/img/send-icon.svg');
  background-color: #007BFF;
}

.open-btn {
  background-image: url('../assets/img/logo-icon.svg'); 
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
  position: fixed;
  top: 10%;
  right: 10px; 
  width: 60px; 
  height: 60px; 
  border: none;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, right 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white; /* Ensures contrast if the image doesn't load */
}


.open-btn:hover {
  background-image: url('static/logo-icon.svg');
  background-color: #41fff9;
}

.system-message {
  background-color: #f8d7da; /* Example: light red for error messages */
  color: #721c24;
}